## Assignment 3 - Competitive Assignment
An explanation this assignment could be found in the .pdf explanation document

### Preceding Step - import modules (packages)
This step is necessary in order to use external modules (packages). <br/>

In [ ]:
#Student_Id : 209187038
#Student_Name : Adir Digmi

In [1]:
# imports for reading and writing (input & output) files:
import pandas as pd
import os

In [2]:
### add whatever imports you need
import re
import string

### Reading input files
Reading input files for train annotated corpus (raw text data) corpus and for the test corpus

In [3]:
train_filename = '.' + os.sep + 'input' + os.sep + 'annotated_corpus_for_train.xlsx'
test_filename  = '.' + os.sep + 'input' + os.sep + 'corpus_for_test.xlsx'
df_train = pd.read_excel(train_filename, 'corpus', index_col=None, na_values=['NA'])
df_test  = pd.read_excel(test_filename,  'corpus', index_col=None, na_values=['NA'])

In [4]:
df_train.head(8)

                                               story gender
0  בוקר אחד קמתי סהרורי יצאתי מהמיטה קצת מטושטש ,...      m
1  לחבר שלי היה יום הולדת וחיפשנו מה אפשר לעשות ל...      m
2  השנה האחרונה הייתה שנת קורונה, שנה לא פשוטה בק...      m
3  לפני כחצי שנה עברתי לגור בצפון עם בת זוגתי, עב...      m
4  יום חמישי רגיל, תמיד מתחיל לעבור טיפה מאוחר יו...      m
5  בשנה האחרונה חוויתי את מגפת הקורונה שהכריח את ...      m
6  בסמסטר קודם אני וכמה חברים ללימודים קבענו להיפ...      m
7  בשנה האחרונה למרות שלא היו יותר מידיי דברים לע...      f

In [5]:
df_test.head(3)

   test_example_id                                              story
0                0  כחלק ממסגרת ההתנדבות שלי במגלה אני הולך לפעמיי...
1                1  לפני שנה החלטתי שאני רוצה להיות טייס, התחלתי ל...
2                2  בתקופת הקורונה של תחילת החיסונים נגד קורונה, א...

### Your implementation:
Write your code solution in the following code-cells

In [6]:
with open('stopwords.txt',encoding = "UTF8") as f:
    stopwords = f.read()
    stopwords_set = set(stopwords.split("\n"))
    print(stopwords_set)

{'מצב', 'לתת', 'בשביל', 'מה', 'נושא', 'מדברים', 'כמו', 'מוסיפים', 'כסף', 'מהם', 'לניהול', 'קצת', 'לפי', 'מקווה', 'מלא', 'זו', 'ההודעות', 'אותו', 'אחרי', 'הרבה', 'פחות', 'כן', 'ניהול', 'מעניין', 'יכולה', 'מדי', 'במיוחד', 'א', 'דבר', 'שאם', 'גדול', 'החג', 'כמעט', 'באופן', 'תמונות', 'היה', 'ואם', 'לכם', 'בפורום', 'פעמים', 'לך', 'נגד', 'השני', 'תפוז', 'בו', 'מעט', 'אולי', 'מזל', 'מזמינים', 'אינטרנט', 'בבקשה', 'אפילו', 'למען', 'דקות', 'לא', 'שלו', 'מן', 'במה', 'אנשים', 'נהיה', 'כאלה', 'בטוח', 'רע', 'עם', 'אחרים', 'אופנה', 'מזמין', 'בכלל', 'בן', 'ועוד', 'להגשים', 'פורומים', 'אוהבים', 'אם', 'החיים', 'הייתה', 'בצורה', 'השנה', 'אנחנו', 'בעמוד', 'למה', 'אתם', 'שלהם', 'ביותר', 'מוזמנים', 'קטן', 'לדרך', 'ברור', 'מנהל', 'יש', 'אחרת', 'תודה', 'ממש', 'יוצא', 'פרטים', 'נילוות', 'יהיו', 'לו', 'רגע', 'שלכם', 'נראה', 'ראיתי', 'רוצה', 'לגבי', 'אדם', 'נו', 'למי', 'כף', 'ההורים', 'שם', 'לראות', 'שאני', 'צריכה', 'באמת', 'לחג', 'יודע', 'לבן', 'רבה', 'של', 'שאנו', 'ולכן', 'יותר', 'אפשר', 'מחפשים', 'דווקא', 'פשוט', 'המוצלח', 'בסוף', 'מישהו', 'מספר', 'מכל', 'קשה', 'הקהילה', 'בפרס', 'בהצלחה', 'רק', 'וזה', 'קשר', 'כזה', 'מאד', 'אומר', 'לפני', 'כפית', 'חושבת', 'בשלב', 'להגיע', 'לכל', 'כוס', 'לקחת', 'בה', 'שכל', 'כלום', 'השבוע', 'בבית', 'מעל', 'שהיא', 'מקרה', 'כפות', 'דברים', 'אלא', 'קמח', 'היו', 'היום', 'ללא', 'הכלב', 'ת', 'תהיה', 'שלי', 'על', 'כל', 'שהיה', 'לראש', 'בנושא', 'לפורום', 'שיש', 'קודם', 'זאת', 'חבר', 'נועית', 'כך', 'אותך', 'הן', 'אוהב', 'סתם', 'לפחות', 'סוף', 'ועל', 'החדשה', 'חדש', 'ומה', 'בדרך', 'אני', 'כאשר', 'סוכר', 'פעם', 'תמיד', 'שזה', 'יודעת', 'הוא', 'זמן', 'ויופי', 'מגיע', 'קל', 'גרועים', 'שגם', 'כולם', 'אופן', 'שלך', 'ביום', 'בערך', 'עדיין', 'וכאן', 'לפעמים', 'יכול', 'ישראל', 'מ', 'בעיה', 'היתה', 'משחקים', 'החמשיר', 'אתה', 'הכי', 'הזו', 'האמת', 'מזה', 'שנה', 'איך', 'מלח', 'שיהיה', 'בר', 'ג', 'לקבל', 'שווה', 'ולנהל', 'הורים', 'ואני', 'שני', 'מנהלת', 'שלנו', 'מודיע', 'הפורום', 'חוץ', 'גדולה', 'הולך', 'לכולם', 'במקום', 'המשחק', 'וכל', 'האנשים', 'שעות', 'ללכת', 'ואת', 'שמן', 'שנים', 'מאמין', 'בצל', 'הם', 'ה', 'הכל', 'הראשי', 'אמא', 'האהבה', 'אנו', 'ב', 'צריך', 'ככה', 'שהם', 'בתפוז', 'תמונה', 'מראש', 'לעשות', 'אף', 'מדובר', 'שחור', 'משחק', 'אותה', 'לי', 'אלו', 'לאחר', 'אחד', 'הייתי', 'הבלוג', 'איזה', 'אחת', 'בני', 'תשובות', 'מתאמצים', 'לבד', 'ל', 'שאנחנו', 'נוספים', 'ואתם', 'ממנו', 'פנינה', 'ו', 'גם', 'עושים', 'עבודה', 'יפה', 'לדעתי', 'עד', 'הראשון', 'טיפוח', 'ילדים', 'שאת', 'למשל', 'אגב', 'והוא', 'עוף', 'רואה', 'שבוע', 'הזמן', 'כדאי', 'להם', 'שמזינים', 'רוב', 'חלות', 'לזה', 'ועד', 'אהבה', 'בואו', 'הזה', 'בעלי', 'שום', 'שהוא', 'האם', 'ראש', 'עכשיו', 'כאן', 'שעה', 'חיים', 'י', 'שלה', 'ר', 'מקום', 'עליו', 'אוכל', 'לבחור', 'אותי', 'להכנס', 'לחלוטין', 'לדעת', 'משהו', 'אין', 'בגלל', 'נשמח', 'הדבר', 'עצמו', 'האחת', 'פלפל', 'גרם', 'קטנה', 'בארץ', 'בין', 'גרוע', 'שאין', 'חושב', 'שוב', 'אשמח', 'והעולם', 'איתו', 'כי', 'מספיק', 'ח', 'היחידה', 'לבשל', 'אך', 'מצאתי', 'כתובות', 'אמר', 'הילדים', 'בלי', 'עדיף', 'וגם', 'חצי', 'שאתה', 'כולנו', 'את', 'בעולם', 'שאלה', 'למרות', 'ימי', 'חשוב', 'טובה', 'מול', 'ש', 'אבל', 'מתוך', 'ההכנה', 'לקנות', 'לעזור', 'כרגע', 'לעולם', 'עושה', 'רוצים', 'בדיוק', 'ם', 'לדבר', 'ע', 'ניתן', 'שדרות', 'אלה', 'כנראה', 'אביב', 'או', 'אתכם', 'כמה', 'אז', 'הנהלת', 'כ', 'חלום', 'מתכון', 'החדש', 'לעצב', 'הפורומים', 'להביא', 'שלא', 'עוד', 'פורום', 'להגיד', 'בזה', 'טיפים', 'איפה', 'מאוד', 'ולא', 'בעיקר', 'ואז', 'יהיה', 'נכון', 'ספר', 'הצטרפו', 'אי', 'ערוץ', 'אוהבת', 'וחצי', 'ק', 'בית', 'היא', 'אל', 'מכבי', 'ויש', 'הכבוד', 'שוקולד', 'מיכל', 'פה', 'לה', 'הבא', 'החגים', 'מקומה', 'תחרות', 'בתוך', 'דרך', '  ', '‡', 'בפורומים', 'חלק', 'הזאת', 'יום', 'אותם', 'זה', 'שלום', 'בוקר', 'לנו', 'מי', 'להוסיף', 'העולם', 'בת', 'למשחק', 'האלה', 'כשאנחנו', 'לתרום', 'רעיונות', 'ראשון', 'ועם', 'גיל', 'בא', 'כמובן', 'שחקן', 'לקרוא', 'המון', 'כדי', 'מים', 'כבר', 'טוב', 'טובים', 'לב', 'בכל', 'הלב', 'שמח', 'די', 'אצלי', 'לילדים', 'אחר', 'ס', 'רגל', 'להיות', 'עולה', 'קרן', 'ד', 'נשמת'}

In [7]:
def remove_stops(story):
    return " ".join([word.strip(string.punctuation) for word in story.split() if not word.strip(string.punctuation) in stopwords_set])

In [8]:
df_train["story"] = df_train["story"].apply(remove_stops)
df_train["story"]

0      קמתי סהרורי יצאתי מהמיטה מטושטש  קמתי בצעדים כ...
1      לחבר הולדת וחיפשנו הולדת מנת לחגוג מכיוון שחבר...
2      האחרונה שנת קורונה פשוטה בקנה מידה אוניברסלי ב...
3      כחצי עברתי לגור בצפון זוגתי עברנו לקיבוץ עמיעד...
4      חמישי רגיל מתחיל לעבור טיפה מאוחר בבוקר לרוץ ל...
                             ...
359    כ3 התגוררתי למשך בגרמניה מטרת המעבר לשם לצורך ...
360    הבחירות נסענו לבקר אימי ז"ל הקברות חמים השנוא ...
361    בשנה אחרונה חוויתי לראשונה תהליך חיפוש העבודה ...
362    סטודנט במכללה בסמסטר בשנת תשפ"א נגשתי למבחן בא...
363    ‏הייתי מדריכה בכפר נוער ומתאם הכפר היינו צריכי...
Name: story, Length: 364, dtype: object

In [9]:
X = df_train["story"]

In [26]:
from sklearn.feature_extraction.text import TfidfVectorizer
scaler = TfidfVectorizer(ngram_range=(2, 3),max_df=0.5,min_df=2)
arr = scaler.fit_transform(df_train['story'])
X = pd.DataFrame(arr.toarray())
X

,0,1,2,3,4,5,6,7,8,9,...,4057,4058,4059,4060,4061,4062,4063,4064,4065,4066
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
360,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
361,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.201676,0.0,0.0,0.0,0.0
362,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0
363,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, df_train["gender"], test_size=0.2, random_state=42)

In [20]:
y_predict_m = y_train == "m"
y_predict_f = y_train == "f"
y_predict_m_test = y_test == "m"
y_predict_f_test = y_test == "f"

In [21]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
#parameters = {"n_neighbors":range(1,10)}
knn = KNeighborsClassifier(n_neighbors = 1)
#knn = GridSearchCV(knn,parameters,scoring = "f1_macro")
knn.fit(X_train, y_predict_m)
y_pred_m = knn.predict(X_train)
y_test_pred_m = knn.predict(X_test)
#knn.best_params_

In [22]:
#parameters = {"n_neighbors":range(1,10)}
knn = KNeighborsClassifier(n_neighbors = 1)
#knn = GridSearchCV(knn,parameters,scoring = "f1_macro")
knn.fit(X_train, y_predict_f)
y_pred_f = knn.predict(X_train)
y_test_pred_f = knn.predict(X_test)
#knn.best_params_

In [23]:
from sklearn import metrics
from sklearn.metrics import f1_score
print("f1_score:",f1_score(y_predict_m,y_pred_m,average = "macro"))   #metrics.f1_score(y_pred_m, y_train == "m"))
print("f1_score:",f1_score(y_predict_f,y_pred_f,average = "macro"))  #metrics.f1_score(y_pred_f, y_train == "f"))

f1_score: 1.0
f1_score: 1.0

In [24]:
print("train score :",(f1_score(y_predict_m,y_pred_m,average = "macro") +  f1_score(y_predict_f,y_pred_f,average = "macro"))/2)
print("test_score :",(f1_score(y_predict_m_test,y_test_pred_m,average = "macro") +  f1_score(y_predict_f_test,y_test_pred_f,average = "macro"))/2)

train score : 1.0
test_score : 0.7026120297148335

In [27]:
print("f1_score_male:",f1_score_male := metrics.f1_score(y_test_pred_m, y_test == "m"))
print("f1_score_female:",f1_score_female := metrics.f1_score(y_test_pred_f, y_test == "f"))
print("AVG f1_score:", (f1_score_male+f1_score_female)/2)

f1_score_male: 0.8411214953271029
f1_score_female: 0.5641025641025642
AVG f1_score: 0.7026120297148335

In [28]:
parameters = {"n_neighbors":range(1,10)}
knn = GridSearchCV(knn,parameters)

In [34]:
scaler = TfidfVectorizer(ngram_range=(2, 3),max_df=0.5,min_df=2)
arr = scaler.fit_transform(pd.concat([df_train['story'],df_test['story']]))
X = pd.DataFrame(arr.toarray())
X
knn = KNeighborsClassifier(n_neighbors = 1)
knn.fit(X[:364],df_train["gender"] == "m")
y_pred = knn.predict(X[364:])
df_predicted = pd.DataFrame({"test_example_id":df_test["test_example_id"],"predicted_category":y_pred})

In [36]:
df_predicted

     test_example_id  predicted_category
0                  0               False
1                  1                True
2                  2                True
3                  3                True
4                  4               False
..               ...                 ...
151              151                True
152              152                True
153              153               False
154              154                True
155              155                True

[156 rows x 2 columns]

### Save output to csv
After you're done save your output to the 'classification_results.csv' csv file.<br/>
We assume that the dataframe with your results contain the following columns:
* column 1 (left column): 'test_example_id'  - the same id associated to each of the test stories to be predicted.
* column 2 (right column): 'predicted_category' - the predicted gender value for each of the associated story. 

Assuming your predicted values are in the `df_predicted` dataframe, you should save you're results as following:

In [37]:
df_predicted.to_csv('classification_results.csv',index=False)